@charset "utf-8";
/* CSS Document */

body {
	font: 100% "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	color: #FFF;
	background-color: #3E99C6;
}
                #logo{
			width: 900px;
			margin: auto;
                        border-radius: 5px;
                        padding-top: 10px;
                        padding-bottom: 10ps;
                        }
                        

		#header {
			font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
			font-size:14px;
			color:#FFF;
			width: 900px;
			margin: auto;
		}
	

                #content{
                    border: 2px;
                    border-radius: 15px;
                    margin: auto;
                    width:960px;
                    background-color:#FFF;
                
                    
                }
                #footer{
                    margin: auto;
                    width:960px;
                    background-color:#000;       
                }
                
.content {
        margin: auto;
	font-size:18px;
	display:block;
	padding-bottom: 20px;
	color:#000;
	text-align:justify;
	width:930px;
        
}

.footer {
        margin: auto;
	font-size:18px;
	display:block;
	padding-bottom: 20px;
	color:#FFF;
	text-align:justify;
	width:930px;
        
}

nav ul ul {
	display: none;
	width: 195px;
}

nav ul ul {
	display: none;
	width: 195px;
	}

nav ul li:hover > ul {
	display:block;
	}

nav ul {
        padding-right: 20px;
	border-radius: 5px;
	list-style: none;
	position: relative;
	display: inline-table;
	width:841px;
	box-shadow: #FFF 0px 0px 20px;
	}
	


nav ul li {
	float: left;
}

	nav ul li a {
		display: block;
		padding: 18px 58px;
		color: #FFF;
	}

	nav ul li:hover {
		background: #CCC;
	}
	
		nav ul li:hover a {
			color: #000;
		}

nav ul ul {
	background: #CCC;
	radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
	z-index: 1000;
}

	nav ul ul li {
		float: none; 
		border-top: 1px solid #000;
		position: relative;
	}
	
		nav ul ul li a {
			padding: 15px 40px;
		}	
		
		nav ul ul li a:hover {
			background: #666;
		}
			
nav ul ul ul {
	position: absolute;
	left: 100%;
	top:0;
}

/*----- Tabs -----*/
.tabs {
    width:70%;
    margin:auto;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }