@charset "utf-8";
/* CSS Document */

body {
	font: 100% "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	color: #FFF;
	background-color: #3E99C6;
}
#logo{
    max-width: 100%;
    height: auto;
}
.logo{
    border: 1px;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;        
}       
#tpic{
    max-width: 400px;
    max-height: 400px;
    text-align: center;
}
#ppic{
    width: 800px;
    max-height: 400px;
    text-align: center;
}
#tt{
    text-align: center;
}
#tp{
    max-width: 200px;
    height: 200px;
}
#tc{
    max-width: 800px;
    height: 200px;
}
#ts{
    width: 30px;
    height: 30px;
}
.ta{
    max-width: 1000px;
}
#to{
    width: 300px;
}
#pp{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}
#spon{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}
#labe{
    border: 2px;
    border-radius: 15px;
    margin: auto;
    max-width:360px;
    height: auto;
    background-color:#FFF;  
}               
.labe {
        margin: auto;
	font-size:1em;
	display:block;
	padding-bottom: 20px;
	color:#000;
	text-align:justify;
	max-width:330px;
        height: auto;
        
}              
#content{
    border: 2px;
    border-radius: 15px;
    margin: auto;
    max-width:960px;
    height: auto;
    background-color:#FFF;  
}               
.content {
        margin: auto;
	font-size:1em;
	display:block;
	padding-bottom: 20px;
	color:#000;
	text-align:justify;
	max-width:930px;
        height: auto;
        
}
#fb{
    width: 400px;
    margin: auto;
}
#footer{
    margin: auto;
    max-width:960px;
    background-color:#000;  
    height: auto;
}
.footer {
    margin: auto;
    font-size:1em;
    display:block;
    padding-bottom: 20px;
    color:#FFF;
    text-align:justify;
    max-width:930px;
    height: auto;
        
}

.header {

    border: 1px;
    text-align: center;
    margin: auto;
    max-width: 750px;
    padding-bottom: 30px;
    
}
/*Strip the ul of padding and list styling*/
#menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}
/*Create a horizontal list with spacing*/
li.subbar {
	display:inline-block;
        float: left;
        margin-right: 2px;
        
}

/*Style for menu links*/
#menu li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}

/*Hover state for top level links*/
#menu li:hover a {
	background: #19c589;
}

/*Style for dropdown links*/
#menu li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
#menu li:hover ul a:hover {
	background: darkslategray;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li.subbar ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
 ul li a:hover + .hidden,  .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	ul#menu{
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	 ul li, li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}